* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* :root {

} */

.dtoons {
  border: 5px solid goldenrod;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #aee5fb;
  color: black;
}


/* dToon Card */
.dToonCard {
  border: 2px solid green;
  background: white;
  /* display: flex; */
}
.dToonExpand {
  border: 2px solid yellow;
  background-color: black;
  color: white;
  
}

.dToonStore { 
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.dToonTitles {
  border: 2px solid red;
}

.dToonStoreDisplay {
  border: 2px solid limegreen;
  display: flex;
  
}

.toonImageTest {
  border: 2px solid magenta;
  width: 125px;
  /* max-width: 60%; Ensure the image doesn't exceed the parent's width */
  height: auto; /* Maintain aspect ratio */
  /* display: block; Prevent extra space below image */
}

.dToonModal {
  border: 2px solid red;

  position: fixed; /* Use fixed positioning for modal overlay */
  top: 30%;
  left: 30%;
  padding: 20px;
  z-index: 1000; /* Ensure modal is above other content */
  width: 300px; /* Adjust this width as needed */
  height: 300px; /* Adjust this height as needed */
}














/* EDIT DECK PAGE */

.editDeck {
  border: 2px solid magenta;
  display: flex;
  flex-direction: column;
}

.deckView {
  border: 2px solid gold;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
}

.collectionView {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}







/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

