.mydToons {
    border: 3px solid blue;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.mydToon-collection {
    border: 2px solid red;
    height: 75vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.mydToon-rowAdjust {
    border: 2px solid limegreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    height: 100%;

}


.viewDecksDiv {
    border: 2px solid black;
    height: 30px;
}
.userDecksDisplay {
    border: 2px solid orange;
    width: 30vw;
}

.deckClick{
    border: 2px solid red;
}















.searchBar {
    border: 2px solid black;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

.color-number {
    display: flex;
}

.color-option {
    cursor: pointer;
    margin-right: 10px;
}

.color-option.selected {
    background-color: lightgrey;
    /* You can choose any highlighting style */
}

/* These can be your custom colors for dToons */
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.purple { color: purple; }
.orange { color: orange; }
.yellow { color: yellow; }
.black { color: black; }
.white { color: white; }
.silver { color: silver; }
.pink { color: pink; }
