

/* #box-container {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#box-zero {
    border: 2px solid green;
    height: 150px;
    width: 150px;
    background-color: var(--root-color);
    
}

#box-one {
    border: 2px solid green;
    height: 150px;
    width: 150px;
    background-color: var(--primary-color);
    
}
#box-two {
    border: 2px solid green;
    height: 150px;
    width: 150px;
    background-color: var(--secondary-color);
    
}

#color-button {
    width: 200px;
    border: 2px solid black;
    background-color: black;
} */


